{
  "openapi": "3.0.1",
  "info": {
    "title": "Musixmatch Lyrics API",
    "description": "Musixmatch Lyrics API is a robust service that permits you to search and retrieve lyrics of songs in the simplest possible way.",
    "termsOfService": "http://musixmatch.com/apiterms/",
    "contact": {
      "name": "Musixmatch",
      "url": "https://musixmatch.com",
      "email": "info@musixmatch.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    },
    "version": "1.1.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Musixmatch_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/musixmatch/musixmatch-sdk/master/swagger/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "musixmatch.com"
  },
  "externalDocs": {
    "description": "Find out more about Musixmatch API",
    "url": "https://developer.musixmatch.com/"
  },
  "servers": [
    {
      "url": "https://api.musixmatch.com/ws/1.1"
    }
  ],
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Track",
      "description": ""
    },
    {
      "name": "Artist",
      "description": ""
    },
    {
      "name": "Album",
      "description": ""
    },
    {
      "name": "Lyrics",
      "description": ""
    },
    {
      "name": "Subtitle",
      "description": ""
    },
    {
      "name": "Snippet",
      "description": ""
    }
  ],
  "paths": {
    "/matcher.lyrics.get": {
      "get": {
        "tags": [
          "Lyrics"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_track",
            "in": "query",
            "description": "The song title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_artist",
            "in": "query",
            "description": "The song artist",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "lyrics": {
                              "$ref": "#/components/schemas/Lyrics"
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/track.lyrics.get": {
      "get": {
        "tags": [
          "Lyrics"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "description": "The musiXmatch track id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "lyrics": {
                              "$ref": "#/components/schemas/Lyrics"
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Lyrics": {
        "title": "a Lyrics object",
        "type": "object",
        "properties": {
          "action_requested": {
            "type": "string",
            "description": ""
          },
          "can_edit": {
            "type": "number",
            "description": ""
          },
          "explicit": {
            "type": "number",
            "description": ""
          },
          "html_tracking_url": {
            "type": "string",
            "description": ""
          },
          "instrumental": {
            "type": "number",
            "description": ""
          },
          "locked": {
            "type": "number",
            "description": ""
          },
          "lyrics_body": {
            "type": "string",
            "description": ""
          },
          "lyrics_copyright": {
            "type": "string",
            "description": ""
          },
          "lyrics_id": {
            "type": "number",
            "description": ""
          },
          "lyrics_language": {
            "type": "string",
            "description": ""
          },
          "lyrics_language_description": {
            "type": "string",
            "description": ""
          },
          "pixel_tracking_url": {
            "type": "string",
            "description": ""
          },
          "publisher_list": {
            "type": "array",
            "items": {
              "type": "string",
              "description": ""
            }
          },
          "restricted": {
            "type": "number",
            "description": ""
          },
          "script_tracking_url": {
            "type": "string",
            "description": ""
          },
          "updated_time": {
            "type": "string",
            "description": ""
          },
          "verified": {
            "type": "number",
            "description": ""
          },
          "writer_list": {
            "type": "array",
            "items": {
              "type": "string",
              "description": ""
            }
          }
        },
        "description": "a Lyrics in the Musixmatch database."
      }
    },
    "securitySchemes": {
      "key": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query"
      }
    }
  }
}