{
  "openapi": "3.0.0",
  "info": {
    "title": "Musixmatch Album API",
    "description": "Musixmatch Album API is a robust service that permits you to search and retrieve music albums in the simplest possible way.",
    "termsOfService": "http://musixmatch.com/apiterms/",
    "contact": {
      "name": "Musixmatch",
      "url": "https://musixmatch.com",
      "email": "info@musixmatch.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    },
    "version": "1.1.0"
  },
  "externalDocs": {
    "description": "Find out more about Musixmatch API",
    "url": "https://developer.musixmatch.com/"
  },
  "servers": [
    {
      "url": "https://api.musixmatch.com/ws/1.1"
    }
  ],
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Track",
      "description": ""
    },
    {
      "name": "Artist",
      "description": ""
    },
    {
      "name": "Album",
      "description": ""
    },
    {
      "name": "Lyrics",
      "description": ""
    },
    {
      "name": "Subtitle",
      "description": ""
    },
    {
      "name": "Snippet",
      "description": ""
    }
  ],
  "paths": {
    "/album.get": {
      "get": {
        "tags": [
          "Album"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "album_id",
            "in": "query",
            "description": "The musiXmatch album id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "album": {
                              "$ref": "#/components/schemas/Album"
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/artist.albums.get": {
      "get": {
        "tags": [
          "Album"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "artist_id",
            "in": "query",
            "description": "The musiXmatch artist id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s_release_date",
            "in": "query",
            "description": "Sort by release date (asc|desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "g_album_name",
            "in": "query",
            "description": "Group by Album Name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Define the page size for paginated results.Range is 1 to 100.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Define the page number for paginated results",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "album_list": {
                              "type": "array",
                              "description": "A list of albums",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "album": {
                                    "$ref": "#/components/schemas/Album"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "number",
                              "description": ""
                            },
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Album": {
        "title": "a Album object",
        "type": "object",
        "properties": {
          "album_copyright": {
            "type": "string",
            "description": ""
          },
          "album_coverart_100x100": {
            "type": "string",
            "description": ""
          },
          "album_coverart_350x350": {
            "type": "string",
            "description": ""
          },
          "album_coverart_500x500": {
            "type": "string",
            "description": ""
          },
          "album_coverart_800x800": {
            "type": "string",
            "description": ""
          },
          "album_edit_url": {
            "type": "string",
            "description": ""
          },
          "album_id": {
            "type": "number",
            "description": ""
          },
          "album_label": {
            "type": "string",
            "description": ""
          },
          "album_mbid": {
            "type": "string",
            "description": ""
          },
          "album_name": {
            "type": "string",
            "description": ""
          },
          "album_pline": {
            "type": "string",
            "description": ""
          },
          "album_rating": {
            "type": "number",
            "description": ""
          },
          "album_release_date": {
            "type": "string",
            "description": ""
          },
          "album_release_type": {
            "type": "string",
            "description": ""
          },
          "album_track_count": {
            "type": "number",
            "description": ""
          },
          "album_vanity_id": {
            "type": "string",
            "description": ""
          },
          "artist_id": {
            "type": "number",
            "description": ""
          },
          "artist_name": {
            "type": "string",
            "description": ""
          },
          "primary_genres": {
            "type": "object",
            "properties": {
              "music_genre_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "music_genre": {
                      "type": "object",
                      "properties": {
                        "music_genre_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_name": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_name_extended": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_parent_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_vanity": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "restricted": {
            "type": "number",
            "description": ""
          },
          "secondary_genres": {
            "type": "object",
            "properties": {
              "music_genre_list": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": ""
                }
              }
            }
          },
          "updated_time": {
            "type": "string",
            "description": ""
          }
        },
        "description": "a album of songs in the Musixmatch database."
      },
      "securitySchemes": {
        "key": {
          "type": "apiKey",
          "name": "apikey",
          "in": "query"
        }
      }
    }
  }
}