{
  "openapi": "3.0.1",
  "info": {
    "title": "Musixmatch Track API",
    "description": "Musixmatch Track API is a robust service that permits you to search and retrieve music track in the simplest possible way.",
    "termsOfService": "http://musixmatch.com/apiterms/",
    "contact": {
      "name": "Musixmatch",
      "url": "https://musixmatch.com",
      "email": "info@musixmatch.com"
    },
    "license": {
      "name": "MIT",
      "url": "http://opensource.org/licenses/MIT"
    },
    "version": "1.1.0",
    "x-apisguru-categories": [
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_Musixmatch_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://raw.githubusercontent.com/musixmatch/musixmatch-sdk/master/swagger/swagger.yaml",
        "version": "2.0"
      }
    ],
    "x-providerName": "musixmatch.com"
  },
  "externalDocs": {
    "description": "Find out more about Musixmatch API",
    "url": "https://developer.musixmatch.com/"
  },
  "servers": [
    {
      "url": "https://api.musixmatch.com/ws/1.1"
    }
  ],
  "security": [
    {
      "key": []
    }
  ],
  "tags": [
    {
      "name": "Track",
      "description": ""
    },
    {
      "name": "Artist",
      "description": ""
    },
    {
      "name": "Album",
      "description": ""
    },
    {
      "name": "Lyrics",
      "description": ""
    },
    {
      "name": "Subtitle",
      "description": ""
    },
    {
      "name": "Snippet",
      "description": ""
    }
  ],
  "paths": {
    "/album.tracks.get": {
      "get": {
        "tags": [
          "Track"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "album_id",
            "in": "query",
            "description": "The musiXmatch album id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "description": "When set, filter only contents with lyrics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Define the page number for paginated results",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Define the page size for paginated results.Range is 1 to 100.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track_list": {
                              "type": "array",
                              "description": "A list of tracks",
                              "items": {
                                "$ref": "#/components/schemas/Track"
                              }
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "number",
                              "description": ""
                            },
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/chart.tracks.get": {
      "get": {
        "tags": [
          "Track"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Define the page number for paginated results",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Define the page size for paginated results.Range is 1 to 100.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "A valid ISO 3166 country code",
            "schema": {
              "type": "string",
              "default": "us"
            }
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "description": "When set, filter only contents with lyrics",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track_list": {
                              "type": "array",
                              "description": "A list of tracks",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "track": {
                                    "$ref": "#/components/schemas/Track"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "number"
                            },
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/matcher.track.get": {
      "get": {
        "tags": [
          "Track"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_artist",
            "in": "query",
            "description": "The song artist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_track",
            "in": "query",
            "description": "The song title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "description": "When set, filter only contents with lyrics",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "f_has_subtitle",
            "in": "query",
            "description": "When set, filter only contents with subtitles",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track": {
                              "$ref": "#/components/schemas/Track"
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/track.get": {
      "get": {
        "tags": [
          "Track"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "description": "The musiXmatch track id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track": {
                              "$ref": "#/components/schemas/Track"
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    },
    "/track.search": {
      "get": {
        "tags": [
          "Track"
        ],
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "output format: json, jsonp, xml.",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "callback",
            "in": "query",
            "description": "jsonp callback",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_track",
            "in": "query",
            "description": "The song title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_artist",
            "in": "query",
            "description": "The song artist",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q_lyrics",
            "in": "query",
            "description": "Any word in the lyrics",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "f_artist_id",
            "in": "query",
            "description": "When set, filter by this artist id",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "f_music_genre_id",
            "in": "query",
            "description": "When set, filter by this music category id",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "f_lyrics_language",
            "in": "query",
            "description": "Filter by the lyrics language (en,it,..)",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "f_has_lyrics",
            "in": "query",
            "description": "When set, filter only contents with lyrics",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "s_artist_rating",
            "in": "query",
            "description": "Sort by our popularity index for artists (asc|desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "s_track_rating",
            "in": "query",
            "description": "Sort by our popularity index for tracks (asc|desc)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "quorum_factor",
            "in": "query",
            "description": "Search only a part of the given query string.Allowed range is (0.1 – 0.9)",
            "schema": {
              "type": "number",
              "default": 1
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Define the page size for paginated results.Range is 1 to 100.",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Define the page number for paginated results",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was successful.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "body": {
                          "type": "object",
                          "properties": {
                            "track_list": {
                              "type": "array",
                              "description": "A list of tracks",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "track": {
                                    "$ref": "#/components/schemas/Track"
                                  }
                                }
                              }
                            }
                          }
                        },
                        "header": {
                          "type": "object",
                          "properties": {
                            "available": {
                              "type": "number"
                            },
                            "execute_time": {
                              "type": "number",
                              "description": ""
                            },
                            "status_code": {
                              "type": "number",
                              "description": ""
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "key": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "Track": {
        "title": "a Track object",
        "type": "object",
        "properties": {
          "album_coverart_100x100": {
            "type": "string",
            "description": ""
          },
          "album_coverart_350x350": {
            "type": "string",
            "description": ""
          },
          "album_coverart_500x500": {
            "type": "string",
            "description": ""
          },
          "album_coverart_800x800": {
            "type": "string",
            "description": ""
          },
          "album_id": {
            "type": "number",
            "description": ""
          },
          "album_name": {
            "type": "string",
            "description": ""
          },
          "artist_id": {
            "type": "number",
            "description": ""
          },
          "artist_mbid": {
            "type": "string",
            "description": ""
          },
          "artist_name": {
            "type": "string",
            "description": ""
          },
          "commontrack_id": {
            "type": "number",
            "description": ""
          },
          "commontrack_vanity_id": {
            "type": "string",
            "description": ""
          },
          "explicit": {
            "type": "number",
            "description": ""
          },
          "first_release_date": {
            "type": "string",
            "description": ""
          },
          "has_lyrics": {
            "type": "number",
            "description": ""
          },
          "has_subtitles": {
            "type": "number",
            "description": ""
          },
          "instrumental": {
            "type": "number",
            "description": ""
          },
          "lyrics_id": {
            "type": "number",
            "description": ""
          },
          "num_favourite": {
            "type": "number",
            "description": ""
          },
          "primary_genres": {
            "type": "object",
            "properties": {
              "music_genre_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "music_genre": {
                      "type": "object",
                      "properties": {
                        "music_genre_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_name": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_name_extended": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_parent_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_vanity": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "restricted": {
            "type": "number",
            "description": ""
          },
          "secondary_genres": {
            "type": "object",
            "properties": {
              "music_genre_list": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "music_genre": {
                      "type": "object",
                      "properties": {
                        "music_genre_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_name": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_name_extended": {
                          "type": "string",
                          "description": ""
                        },
                        "music_genre_parent_id": {
                          "type": "number",
                          "description": ""
                        },
                        "music_genre_vanity": {
                          "type": "string",
                          "description": ""
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "subtitle_id": {
            "type": "number",
            "description": ""
          },
          "track_edit_url": {
            "type": "string",
            "description": ""
          },
          "track_id": {
            "type": "number",
            "description": ""
          },
          "track_isrc": {
            "type": "string",
            "description": ""
          },
          "track_length": {
            "type": "number",
            "description": ""
          },
          "track_mbid": {
            "type": "string",
            "description": ""
          },
          "track_name": {
            "type": "string",
            "description": ""
          },
          "track_name_translation_list": {
            "type": "array",
            "items": {
              "type": "string",
              "description": ""
            }
          },
          "track_rating": {
            "type": "number",
            "description": ""
          },
          "track_share_url": {
            "type": "string",
            "description": ""
          },
          "track_soundcloud_id": {
            "type": "number",
            "description": ""
          },
          "track_spotify_id": {
            "type": "string",
            "description": ""
          },
          "track_xboxmusic_id": {
            "type": "string",
            "description": ""
          },
          "updated_time": {
            "type": "string",
            "description": ""
          }
        },
        "description": "a song in the Musixmatch database"
      }
    },
    "securitySchemes": {
      "key": {
        "type": "apiKey",
        "name": "apikey",
        "in": "query"
      }
    }
  }
}