{
  "openapi": "3.0.1",
  "info": {
    "title": "User Detail Search API",
    "description": "Search the details of the users in the system. ",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.blackdiamondwealthplatform.com/user-api"
    }
  ],
  "paths": {
    "/Query/UserDetailSearch": {
      "post": {
        "tags": [
          "Query"
        ],
        "summary": "User Detail Search",
        "description": "Allows different query methods for Users",
        "operationId": "post-query-userdetailsearch",
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDetailSearchRequest"
              },
              "example": {
                "id": [
                  0
                ],
                "username": [
                  "string"
                ],
                "firstname": [
                  "string"
                ],
                "lastname": [
                  "string"
                ],
                "email": [
                  "string"
                ],
                "active": true,
                "invited": false,
                "established": true,
                "locked": false,
                "allAccounts": false,
                "userType": [
                  "FirmUser"
                ],
                "include": {
                  "accounts": true,
                  "relationships": true,
                  "financialTeamTemplates": true,
                  "accountCount": true,
                  "ownedAccounts": true,
                  "contacts": true,
                  "teams": true,
                  "portfolios": true,
                  "repCodes": true,
                  "primaryTeamId": true,
                  "role": true,
                  "clientProfiles": true
                },
                "exposure": {
                  "accounts": [
                    "string"
                  ],
                  "relationships": [
                    "string"
                  ]
                },
                "offset": 0,
                "limit": 0
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailSearchResult"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailSearchResult"
                },
                "example": {
                  "data": [
                    {
                      "id": 0,
                      "uniqueId": "string",
                      "username": "string",
                      "firstName": "string",
                      "lastName": "string",
                      "email": "string",
                      "userType": "FirmUser",
                      "active": true,
                      "established": true,
                      "locked": true,
                      "invited": true,
                      "status": "Created",
                      "allAccounts": true,
                      "primaryTeamId": "string",
                      "primaryRelationship": "string",
                      "expirationDate": "string",
                      "hidden": true,
                      "imageUrl": "string",
                      "contactInfo": {
                        "address1": "string",
                        "address2": "string",
                        "city": "string",
                        "state": "string",
                        "zipCode": "string",
                        "phone": "string",
                        "title": "string",
                        "externalLink": "string",
                        "externalLinkDisplayName": "string",
                        "sync": true
                      },
                      "integrations": {
                        "moneyGuideProAdvisor": 0,
                        "riskalyzeAdvisor": 0,
                        "byAllAdvisor": 0
                      },
                      "role": {
                        "roleId": 0,
                        "name": "string",
                        "description": "string"
                      },
                      "clientProfile": {
                        "clientProfileId": "string",
                        "name": "string",
                        "description": "string"
                      },
                      "accounts": [
                        {
                          "accountId": "string",
                          "accountInternalId": 0,
                          "isDirectAssigned": true,
                          "name": "string",
                          "displayName": "string"
                        }
                      ],
                      "accountCount": 0,
                      "ownedAccounts": [
                        {
                          "accountId": "string",
                          "accountInternalId": 0,
                          "isDirectAssigned": true,
                          "name": "string",
                          "displayName": "string"
                        }
                      ],
                      "contacts": [
                        {
                          "contactId": "string",
                          "internalId": 0,
                          "teamId": "string",
                          "teamInternalId": 0,
                          "salutation": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "lastName": "string",
                          "suffix": "string",
                          "nickname": "string",
                          "displayName": "string",
                          "fullName": "string",
                          "dateOfBirth": "string",
                          "gender": "string",
                          "income": 0,
                          "retirementAge": 0,
                          "actualRetirementDate": "string"
                        }
                      ],
                      "teams": [
                        {
                          "teamId": "string",
                          "internalId": 0,
                          "name": "string",
                          "description": "string",
                          "isSystem": true
                        }
                      ],
                      "portfolios": [
                        {
                          "portfolioId": "string",
                          "internalId": 0,
                          "name": "string",
                          "displayName": "string",
                          "teamId": "string",
                          "teamInternalId": 0,
                          "showClient": true,
                          "adminOnly": true,
                          "hidden": true,
                          "visible": true
                        }
                      ],
                      "financialTeamTemplates": [
                        {
                          "financialTeamId": "string",
                          "internalId": 0,
                          "name": "string",
                          "teamId": "string",
                          "teamInternalId": 0,
                          "memberName": "string",
                          "memberTitle": "string"
                        }
                      ],
                      "relationships": [
                        {
                          "relationshipId": "string",
                          "internalId": 0,
                          "name": "string"
                        }
                      ],
                      "repCodes": [
                        {
                          "repCodeId": "string",
                          "internalId": 0,
                          "code": "string",
                          "repName": "string",
                          "dataFormatId": 0,
                          "isDirectAssigned": true,
                          "viaTeam": "string"
                        }
                      ]
                    }
                  ],
                  "total": 0
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDetailSearchResult"
                },
                "example": {
                  "data": [
                    {
                      "id": 0,
                      "uniqueId": "string",
                      "username": "string",
                      "firstName": "string",
                      "lastName": "string",
                      "email": "string",
                      "userType": "FirmUser",
                      "active": true,
                      "established": true,
                      "locked": true,
                      "invited": true,
                      "status": "Created",
                      "allAccounts": true,
                      "primaryTeamId": "string",
                      "primaryRelationship": "string",
                      "expirationDate": "string",
                      "hidden": true,
                      "imageUrl": "string",
                      "contactInfo": {
                        "address1": "string",
                        "address2": "string",
                        "city": "string",
                        "state": "string",
                        "zipCode": "string",
                        "phone": "string",
                        "title": "string",
                        "externalLink": "string",
                        "externalLinkDisplayName": "string",
                        "sync": true
                      },
                      "integrations": {
                        "moneyGuideProAdvisor": 0,
                        "riskalyzeAdvisor": 0,
                        "byAllAdvisor": 0
                      },
                      "role": {
                        "roleId": 0,
                        "name": "string",
                        "description": "string"
                      },
                      "clientProfile": {
                        "clientProfileId": "string",
                        "name": "string",
                        "description": "string"
                      },
                      "accounts": [
                        {
                          "accountId": "string",
                          "accountInternalId": 0,
                          "isDirectAssigned": true,
                          "name": "string",
                          "displayName": "string"
                        }
                      ],
                      "accountCount": 0,
                      "ownedAccounts": [
                        {
                          "accountId": "string",
                          "accountInternalId": 0,
                          "isDirectAssigned": true,
                          "name": "string",
                          "displayName": "string"
                        }
                      ],
                      "contacts": [
                        {
                          "contactId": "string",
                          "internalId": 0,
                          "teamId": "string",
                          "teamInternalId": 0,
                          "salutation": "string",
                          "firstName": "string",
                          "middleName": "string",
                          "lastName": "string",
                          "suffix": "string",
                          "nickname": "string",
                          "displayName": "string",
                          "fullName": "string",
                          "dateOfBirth": "string",
                          "gender": "string",
                          "income": 0,
                          "retirementAge": 0,
                          "actualRetirementDate": "string"
                        }
                      ],
                      "teams": [
                        {
                          "teamId": "string",
                          "internalId": 0,
                          "name": "string",
                          "description": "string",
                          "isSystem": true
                        }
                      ],
                      "portfolios": [
                        {
                          "portfolioId": "string",
                          "internalId": 0,
                          "name": "string",
                          "displayName": "string",
                          "teamId": "string",
                          "teamInternalId": 0,
                          "showClient": true,
                          "adminOnly": true,
                          "hidden": true,
                          "visible": true
                        }
                      ],
                      "financialTeamTemplates": [
                        {
                          "financialTeamId": "string",
                          "internalId": 0,
                          "name": "string",
                          "teamId": "string",
                          "teamInternalId": 0,
                          "memberName": "string",
                          "memberTitle": "string"
                        }
                      ],
                      "relationships": [
                        {
                          "relationshipId": "string",
                          "internalId": 0,
                          "name": "string"
                        }
                      ],
                      "repCodes": [
                        {
                          "repCodeId": "string",
                          "internalId": 0,
                          "code": "string",
                          "repName": "string",
                          "dataFormatId": 0,
                          "isDirectAssigned": true,
                          "viaTeam": "string"
                        }
                      ]
                    }
                  ],
                  "total": 0
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "examples": {
                  "default": {
                    "value": null
                  }
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                },
                "example": {
                  "type": "string",
                  "title": "string",
                  "status": 0,
                  "detail": "string",
                  "instance": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserIntegrationsDto": {
        "type": "object",
        "properties": {
          "moneyGuideProAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "riskalyzeAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "byAllAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailSearchResult": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetail"
            },
            "nullable": true
          },
          "total": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "uniqueId": {
            "type": "string",
            "format": "uuid"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "userType": {
            "$ref": "#/components/schemas/UserType"
          },
          "active": {
            "type": "boolean"
          },
          "established": {
            "type": "boolean"
          },
          "locked": {
            "type": "boolean"
          },
          "invited": {
            "type": "boolean"
          },
          "status": {
            "$ref": "#/components/schemas/UserStatus"
          },
          "allAccounts": {
            "type": "boolean",
            "description": "Allows the user to access all accounts"
          },
          "primaryTeamId": {
            "type": "string",
            "nullable": true
          },
          "primaryRelationship": {
            "type": "string",
            "nullable": true
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "hidden": {
            "type": "boolean"
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          },
          "contactInfo": {
            "$ref": "#/components/schemas/UserDetailContactInfo"
          },
          "integrations": {
            "$ref": "#/components/schemas/UserDetailIntegrations"
          },
          "role": {
            "$ref": "#/components/schemas/UserDetailRole"
          },
          "clientProfile": {
            "$ref": "#/components/schemas/UserDetailClientProfile"
          },
          "accounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailAccount"
            },
            "nullable": true
          },
          "accountCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ownedAccounts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailAccount"
            },
            "nullable": true
          },
          "contacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailContact"
            },
            "nullable": true
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailTeam"
            },
            "nullable": true
          },
          "portfolios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailPortfolio"
            },
            "nullable": true
          },
          "financialTeamTemplates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailFinancialTeamTemplate"
            },
            "nullable": true
          },
          "relationships": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailRelationship"
            },
            "nullable": true
          },
          "repCodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserDetailRepCode"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailRepCode": {
        "type": "object",
        "properties": {
          "repCodeId": {
            "type": "string",
            "format": "uuid"
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "code": {
            "type": "string",
            "nullable": true
          },
          "repName": {
            "type": "string",
            "nullable": true
          },
          "dataFormatId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "isDirectAssigned": {
            "type": "boolean",
            "nullable": true
          },
          "viaTeam": {
            "type": "string",
            "description": "If the rep code is assigned via team, what is the external id of the team that it is assigned through?",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailRelationship": {
        "type": "object",
        "properties": {
          "relationshipId": {
            "type": "string",
            "nullable": true
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailFinancialTeamTemplate": {
        "type": "object",
        "properties": {
          "financialTeamId": {
            "type": "string",
            "format": "uuid"
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "teamId": {
            "type": "string",
            "nullable": true
          },
          "teamInternalId": {
            "type": "integer",
            "format": "int32"
          },
          "memberName": {
            "type": "string",
            "nullable": true
          },
          "memberTitle": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailPortfolio": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "nullable": true
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "teamId": {
            "type": "string",
            "nullable": true
          },
          "teamInternalId": {
            "type": "integer",
            "format": "int32"
          },
          "showClient": {
            "type": "boolean",
            "nullable": true
          },
          "adminOnly": {
            "type": "boolean"
          },
          "hidden": {
            "type": "boolean",
            "nullable": true
          },
          "visible": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailTeam": {
        "type": "object",
        "properties": {
          "teamId": {
            "type": "string",
            "nullable": true
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "isSystem": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UserDetailContact": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "format": "uuid"
          },
          "internalId": {
            "type": "integer",
            "format": "int32"
          },
          "teamId": {
            "type": "string",
            "nullable": true
          },
          "teamInternalId": {
            "type": "integer",
            "format": "int32"
          },
          "salutation": {
            "type": "string",
            "nullable": true
          },
          "firstName": {
            "type": "string",
            "nullable": true
          },
          "middleName": {
            "type": "string",
            "nullable": true
          },
          "lastName": {
            "type": "string",
            "nullable": true
          },
          "suffix": {
            "type": "string",
            "nullable": true
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          },
          "fullName": {
            "type": "string",
            "nullable": true
          },
          "dateOfBirth": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "gender": {
            "type": "string",
            "nullable": true
          },
          "income": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "retirementAge": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "actualRetirementDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailAccount": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "nullable": true
          },
          "accountInternalId": {
            "type": "integer",
            "format": "int32"
          },
          "isDirectAssigned": {
            "type": "boolean",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "displayName": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailClientProfile": {
        "type": "object",
        "properties": {
          "clientProfileId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailRole": {
        "type": "object",
        "properties": {
          "roleId": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailIntegrations": {
        "type": "object",
        "properties": {
          "moneyGuideProAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "riskalyzeAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "byAllAdvisor": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailContactInfo": {
        "type": "object",
        "properties": {
          "address1": {
            "type": "string",
            "nullable": true
          },
          "address2": {
            "type": "string",
            "nullable": true
          },
          "city": {
            "type": "string",
            "nullable": true
          },
          "state": {
            "type": "string",
            "nullable": true
          },
          "zipCode": {
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "externalLink": {
            "type": "string",
            "nullable": true
          },
          "externalLinkDisplayName": {
            "type": "string",
            "nullable": true
          },
          "sync": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UserDetailSearchRequest": {
        "type": "object",
        "properties": {
          "id": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "description": "Id of User",
            "nullable": true
          },
          "username": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Username of User",
            "nullable": true
          },
          "firstname": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Firstname of User",
            "nullable": true
          },
          "lastname": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Lastname of User",
            "nullable": true
          },
          "email": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Email of User",
            "nullable": true
          },
          "active": {
            "type": "boolean",
            "description": "Active flag of User",
            "nullable": true
          },
          "invited": {
            "type": "boolean",
            "description": "Invited flag of User",
            "nullable": true
          },
          "established": {
            "type": "boolean",
            "description": "Established flag of User",
            "nullable": true
          },
          "locked": {
            "type": "boolean",
            "description": "Locked flag of User",
            "nullable": true
          },
          "allAccounts": {
            "type": "boolean",
            "description": "AllAccounts flag of User",
            "nullable": true
          },
          "userType": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/UserType"
            },
            "description": "User Type",
            "nullable": true
          },
          "include": {
            "$ref": "#/components/schemas/UserDetailAssociations"
          },
          "exposure": {
            "$ref": "#/components/schemas/UserDetailExposures"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          },
          "associationLimit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "UserDetailExposures": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Get users that have exposure to the specified accounts",
            "nullable": true
          },
          "relationships": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Get users that have exposure to the specified relationships",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UserDetailAssociations": {
        "type": "object",
        "properties": {
          "total": {
            "type": "boolean"
          },
          "contactInfo": {
            "type": "boolean",
            "description": "This is user.contactInfo for Firm Users"
          },
          "integrations": {
            "type": "boolean"
          },
          "accounts": {
            "type": "boolean"
          },
          "accountCount": {
            "type": "boolean"
          },
          "ownedAccounts": {
            "type": "boolean",
            "description": "Accounts Owned by the Contact associated to the user"
          },
          "contacts": {
            "type": "boolean",
            "description": "Contacts"
          },
          "relationships": {
            "type": "boolean"
          },
          "teams": {
            "type": "boolean"
          },
          "portfolios": {
            "type": "boolean"
          },
          "financialTeamTemplates": {
            "type": "boolean"
          },
          "roles": {
            "type": "boolean"
          },
          "clientProfiles": {
            "type": "boolean"
          },
          "repCodes": {
            "type": "boolean"
          },
          "onlyAccessibleItems": {
            "type": "boolean",
            "description": "Only include items which the current user has access to"
          }
        },
        "additionalProperties": false
      },
      "CreateAccountHolderCommand": {
        "type": "object",
        "properties": {
          "contactId": {
            "type": "string",
            "nullable": true
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "primaryRelationshipId": {
            "type": "string",
            "nullable": true
          },
          "primaryTeamId": {
            "type": "string",
            "nullable": true
          },
          "clientProfileId": {
            "type": "string",
            "nullable": true
          },
          "integrations": {
            "$ref": "#/components/schemas/UserIntegrationsDto"
          }
        },
        "additionalProperties": false
      },
      "AssignAccountsCommand": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "UnassignAccountsCommand": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "integer",
            "format": "int32"
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ClientSortField": {
        "enum": [
          "Id",
          "Firstname",
          "Lastname",
          "Username",
          "Email",
          "Status",
          "Accounts",
          "Team",
          "Profile"
        ],
        "type": "string"
      },
      "ClientUsersWithoutProfileQuery": {
        "type": "object",
        "properties": {
          "searchString": {
            "type": "string",
            "nullable": true
          },
          "team": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "status": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "sort": {
            "$ref": "#/components/schemas/ClientSortField"
          },
          "descending": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "ClientUserSearchQuery": {
        "type": "object",
        "properties": {
          "searchString": {
            "type": "string",
            "nullable": true
          },
          "team": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "profile": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "status": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "sort": {
            "$ref": "#/components/schemas/ClientSortField"
          },
          "descending": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "FirmUserSortField": {
        "enum": [
          "Id",
          "Firstname",
          "Lastname",
          "Username",
          "Email",
          "Status",
          "AccountAccess",
          "Team",
          "Role"
        ],
        "type": "string"
      },
      "FirmUserSearchQuery": {
        "type": "object",
        "properties": {
          "searchString": {
            "type": "string",
            "nullable": true
          },
          "paging": {
            "$ref": "#/components/schemas/Paging"
          },
          "sort": {
            "$ref": "#/components/schemas/FirmUserSortField"
          },
          "descending": {
            "type": "boolean"
          },
          "roleId": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "teamId": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "status": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "export": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UserType": {
        "enum": [
          "FirmUser",
          "ClientUser",
          "InternalEmployee",
          "InternalSystem"
        ],
        "type": "string",
        "description": "Categorizes broad levels of system access and experience\r\n - FirmUser: Financial Advisors and Other Staff\r\n - ClientUser: An end-user of the Client Experience\r\n - AccountHolder: Alias for ClientUser\r\n - InternalEmployee: Black Diamond Employees\r\n - InternalSystem: Internal System Processes (non-interactive)"
      },
      "UserStatus": {
        "enum": [
          "Created",
          "Active",
          "Invited",
          "Locked",
          "Inactive"
        ],
        "type": "string",
        "description": "What state is the user in?"
      },
      "UserContactDataDto": {
        "type": "object",
        "properties": {
          "address1": {
            "maxLength": 100,
            "type": "string",
            "nullable": true
          },
          "address2": {
            "maxLength": 100,
            "type": "string",
            "nullable": true
          },
          "city": {
            "maxLength": 40,
            "type": "string",
            "nullable": true
          },
          "state": {
            "maxLength": 30,
            "type": "string",
            "nullable": true
          },
          "zipCode": {
            "maxLength": 10,
            "type": "string",
            "nullable": true
          },
          "phone": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "maxLength": 100,
            "type": "string",
            "nullable": true
          },
          "externalLink": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          },
          "externalLinkDisplayName": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "sync": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "UserDto": {
        "required": [
          "email",
          "firstName",
          "lastName",
          "username"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The user identifier (auto-generated)",
            "format": "int32"
          },
          "uniqueId": {
            "type": "string",
            "description": "The globally unique identifier for the user (auto-generated)",
            "format": "uuid"
          },
          "username": {
            "maxLength": 255,
            "type": "string",
            "description": "A unique field used to log in"
          },
          "firstName": {
            "maxLength": 64,
            "type": "string",
            "description": "Also known as given name"
          },
          "lastName": {
            "maxLength": 64,
            "type": "string",
            "description": "Also known as family name"
          },
          "email": {
            "maxLength": 255,
            "type": "string",
            "description": "The user's primary email address",
            "format": "email"
          },
          "userType": {
            "$ref": "#/components/schemas/UserType"
          },
          "active": {
            "type": "boolean",
            "description": "Is the user able to access the system"
          },
          "established": {
            "type": "boolean",
            "description": "Has the user logged in at least once"
          },
          "locked": {
            "type": "boolean",
            "description": "Denotes user is temporarily blocked from accessing the system"
          },
          "invited": {
            "type": "boolean",
            "description": "Denotes a new-user invitation has been sent to the user"
          },
          "status": {
            "$ref": "#/components/schemas/UserStatus"
          },
          "allAccounts": {
            "type": "boolean",
            "description": "Allows the user to access all accounts"
          },
          "roleId": {
            "type": "integer",
            "description": "The primary assigned role for the user",
            "format": "int32",
            "nullable": true
          },
          "clientProfileId": {
            "type": "string",
            "description": "Client profile ID",
            "nullable": true
          },
          "contactData": {
            "$ref": "#/components/schemas/UserContactDataDto"
          },
          "integrations": {
            "$ref": "#/components/schemas/UserIntegrationsDto"
          },
          "primaryTeamId": {
            "type": "string",
            "nullable": true
          },
          "primaryRelationship": {
            "type": "string",
            "nullable": true
          },
          "teams": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "accounts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "accountExclusions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "repCodes": {
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int32"
            },
            "nullable": true
          },
          "visibleRelationships": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "hiddenPortfolios": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "modifiedBy": {
            "maxLength": 255,
            "type": "string",
            "nullable": true
          },
          "modifiedDate": {
            "type": "string",
            "format": "date-time"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "hidden": {
            "type": "boolean"
          },
          "createdBy": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "createdDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "imageUrl": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ProblemDetails": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "detail": {
            "type": "string",
            "nullable": true
          },
          "instance": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": {
          "type": "object",
          "additionalProperties": false
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "type": "apiKey",
        "name": "Ocp-Apim-Subscription-Key",
        "in": "header"
      },
      "apiKeyQuery": {
        "type": "apiKey",
        "name": "subscription-key",
        "in": "query"
      }
    }
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "Test",
      "description": "Test Endpoints"
    },
    {
      "name": "Command",
      "description": "Resources resulting in non-restful side-effects"
    },
    {
      "name": "Query",
      "description": "Resources resulting in non domain-specific queries"
    },
    {
      "name": "User",
      "description": "Endpoints Dealing with User Management"
    }
  ]
}