{
  "openapi": "3.0.1",
  "info": {
    "title": "Image Segmentation API",
    "description": "API's for image segmentation.",
    "version": "0.1"
  },
  "servers": [
    {
      "url": "https://api.double4.ai"
    }
  ],
  "paths": {
    "/seg": {
      "get": {
        "description": "API for image Segmentation. If bgurl (background image url) parameter is not passed returns a transparent image.",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of vehicle image to apply segmentation.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "bgurl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Url of image to be used as background.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "addshadowflag",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Used to generate drop shadow when generating only transparent image with out bgurl. When a valid bgurl is passed, drop shadow is generated by default.  Allowed values 0 or 1.",
            "example": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Returns image stream."
          }
        },
        "servers": [
          {
            "url": "https://api.double4.ai"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.double4.ai"
        }
      ]
    },
    "/segcenter": {
      "get": {
        "description": "API for image Segmentation. Difference between seg and segcenter is that the out put image has the same dimensions as bgurl image. The height and width of the segmented image on background is determined by the fgpercent passed. Segmented image width and height in the final output is the fgpercent of background image width and height",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of vehicle image to apply segmentation.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "bgurl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of image to be used as background.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "fgpercent",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Segmented image width and height in the final output is the fgpercent of background image width and height. fgpercent default value is 70. It takes values between 45 and 80. If a value greater than 80 is passed it will adjusted to 80 and if a value less than 45 is passed it will be adjusted to 45. For example if background image has 1600x1200 dimensions, and fgpercent 50 is passed. Then in the final output, segmented image will have dimensions 800x600.",
            "example": 50
          }
        ],
        "responses": {
          "200": {
            "description": "Returns image stream."
          }
        },
        "servers": [
          {
            "url": "https://api.double4.ai"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.double4.ai"
        }
      ]
    },
    "/segwithpadding": {
      "get": {
        "description": "API for image Segmentation with different edge padding mechanism used in seg endpoint. If bgurl (background image url) parameter is not passed returns a transparent image.",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of vehicle image to apply segmentation.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "bgurl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Url of image to be used as background.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "addshadowflag",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "required": false,
            "description": "Used to generate drop shadow when generating only transparent image with out bgurl. When a valid bgurl is passed, drop shadow is generated by default.  Allowed values 0 or 1.",
            "example": 1
          },
          {
            "name": "padding",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "required": false,
            "description": "Threshold percentage used to calculate how far one of the edge of vechile is from end of the image. For example when the 11 is passed and left edge of vehicle in filename url is 9% from the left end of image, then we add remaining 3% = 11-9+1(1% of padding always added for error marigin) of padding to original image. Applicable when using addshadowflag or bgurl. Allowed values between 0 and 50. Default value 10.",
            "example": 10
          }
        ],
        "responses": {
          "200": {
            "description": "Returns image stream."
          }
        },
        "servers": [
          {
            "url": "https://api.double4.ai"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.double4.ai"
        }
      ]
    },
    "/seganchor": {
      "get": {
        "description": "API for image Segmentation with achoring information and adjusting the height and width of the vehicle while placing on the background.",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of vehicle image to apply segmentation.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "bgurl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of background to applied.",
            "example": "https://admin.double4.ai/backend/web/profile/background/45AA29E7-7A16-7FEE-8B8E-A5D736B3D2AC.png"
          },
          {
            "name": "anchorx",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "X-Coordinate on the background image where the vehicle mid-point will be placed. Default X-Coordinate of the mid-point of the background image used",
            "example": 320
          },
          {
            "name": "anchory",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "Y-Coordinate on the background image where the vehicle mid-point will be placed. Default Y-Coordinate of the mid-point of the background image used.",
            "example": 240
          },
          {
            "name": "maxheight",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum height of vehicle used while placing on the background.",
            "example": 300
          },
          {
            "name": "maxwidth",
            "in": "query",
            "schema": {
              "type": "integer"
            },
            "description": "The maximum width of vehicle used while placing on the background.",
            "example": 580
          }
        ],
        "responses": {
          "200": {
            "description": "Returns image stream."
          }
        },
        "servers": [
          {
            "url": "https://api.double4.ai"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.double4.ai"
        }
      ]
    },
    "/pano": {
      "get": {
        "description": "API for Pano images segmentation. If bgurl (background image url) parameter is not passed returns a transparent image.",
        "parameters": [
          {
            "name": "filename",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": true,
            "description": "Url of pano image to apply segmentation.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          },
          {
            "name": "bgurl",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Url of image to be used as background.",
            "example": "https://gcbimages.storage.googleapis.com/segmentation_images/nonhybrid/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB/E09CB207-4E55-D0F2-CBE1-576F8B56E7BB_revised_anchor_hybrid.jpg"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns image stream."
          }
        },
        "servers": [
          {
            "url": "https://api.double4.ai"
          }
        ]
      },
      "servers": [
        {
          "url": "https://api.double4.ai"
        }
      ]
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "bearerAuth": []
    }
  ]
}